asn1crypto==0.24.0
bleach==2.1.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
configparser==3.5.0
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
future==0.16.0
html5lib==1.0.1
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
jedi==0.11.0
Jinja2==2.10
json-rpc==1.10.8
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.13.3
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
patsy==0.4.1
pexpect==4.3.0
pickleshare==0.7.4
plotly==2.2.2
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
python-language-server==0.12.2
pytz==2017.3
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
rope==0.10.7
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
statsmodels==0.8.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.8
yapf==0.20.0
